<div class="container p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="https://placehold.co/400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Username</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 offset-md-4">
        <h5 class="text-center">Current Games</h5>
        <ul class="list-group mb-3">
          <ng-container *ngFor="let gameSession of gameSessions">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{gameSession.status}}
<!--            <span class="badge bg-primary rounded-pill">Active</span>-->
          </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
