<div class="container p-5">

  <ng-container *ngIf="!showQuiz">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <ng-container *ngIf="chapterData$ | async as chapter">
          Answer at least {{ chapter.roundWinCondition }} questions correctly to pass each category!
        </ng-container>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-5 text-center">
        <button class="btn btn-primary" (click)="showQuiz = true">
          Start
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showQuiz">
    <div class="row justify-content-end">
      <div class="title-text col-12 col-md-8">
        <ng-container *ngIf="chapterData$ | async as chapter">
          Answer at least {{ chapter.title }} questions correctly to pass each category!
        </ng-container>
      </div>
      <div class="col-6 col-md-4">
        <i *ngFor="let heart of [1, 2, 3]"
           class="fa-solid fa-heart ms-1"
           [@heartState]="currentHealth < heart && lastLostHeart === heart ? 'lostHeart' : 'normal'"
           [style.color]="currentHealth >= heart ? '#ff0000' : '#000000'">
        </i>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <app-question-panel
          [question]="currentQuestion"
          [isCorrect]="answerIsCorrect"
          [correctAnswerIndex]="correctAnswerIndex"
          *ngIf="hasQuestions"
          (answerSelected)="onAnswerSelected($event)"
          (timerRanOut)="onTimerRanOut($event)"
          (resetQuestionState)="resetQuestionState()"
          (handleChapterRound)="handleRoundFinished()"
          (nextQuestion)="onNextQuestion()"
        ></app-question-panel>
      </div>
    </div>
  </ng-container>
</div>
