<ng-container *ngFor="let player of relationships">
  <div class="row align-items-center bg-light">
    <div class="player-avatar col-4 p-2">
      <img [src]="'data:image/jpeg;base64,' + player.base64Image" style="max-height: 40px; max-width: 40px"
           alt="player avatar" class="rounded-circle"/>
    </div>
    <div class="player-name col-4 fw-bold">
      {{ player.displayName }}
    </div>
    <div class="btn-group col-4">
      <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Actions
      </button>
      <ul class="dropdown-menu position-fixed">
        <ng-container *ngIf="type == 'friends'; else elseBlock">
          <li>
            <button class="dropdown-item" (click)="emitRemoveFriend(player.id)">Remove friend</button>
          </li>
          <li>
            <button class="dropdown-item" (click)="emitBlockPlayer(player.id)">Block player</button>
          </li>
          <li>
            <button class="dropdown-item" (click)="emitSendGameInvite(player.id)">Invite friend to play a game</button>
          </li>
          <li>
            <button class="dropdown-item" (click)="emitSendMessage(player.id)">Send message</button>
          </li>
        </ng-container>
        <ng-template #elseBlock>
          <li>
            <button class="dropdown-item" (click)="emitUnblockPlayer(player.id)">
              Unblock player
            </button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</ng-container>

