<div class="container p-5" style="height: 100%">
  <div class="row text-center g-3 " style="height: 65%;">
    <div class="col-md-4">
      <div class="card">
        <img [src]="image" class="card-img-top img-fluid">
        <div class="card-body py-1">
          <h5 class="card-title">{{ player?.displayName }}</h5>
          <a (click)="openEditProfile()" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Stats</div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Total games played: {{ player?.stats.numOfGames }}</li>
            <li class="list-group-item">Wins: {{ player?.stats.numOfWins }}</li>
            <li class="list-group-item">Losses: {{ player?.stats.numOfLosses }}</li>

            <!--            //TODO win rate for userDTO-->
            <!--            <li class="list-group-item">Win rate: {{ user?.numOfLosses }}</li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 h-100">
      <ul class="nav nav-tabs nav-justified" style="height: 10%">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#friends">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#blocked">Blocked</a>
        </li>
      </ul>
      <div class="tab-content relationship-panel">
        <div class="tab-pane fade show active p-2" id="friends">
          <app-relationship-panel [relationships]="friendsList"
                                  [type]="'friends'"
                                  (relationshipActionSelected)="handleAction($event)"
          ></app-relationship-panel>
        </div>
        <div class="tab-pane fade" id="blocked">
          <app-relationship-panel [relationships]="blockedList"
                                  [type]="'blocked'"
                                  (relationshipActionSelected)="handleAction($event)"
          ></app-relationship-panel>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-5 offset-md-4">
      <app-category-pie-chart [categoryStats]=player.stats.categoryStats></app-category-pie-chart>
    </div>
  </div>
</div>









