.square {
  width: 70px;
  height: 70px;
  background-color: #ccc;
  border: 1px solid #999;
}

@media (max-width: 768px) {
  .square {
    width: 40px;
    height: 40px;
  }
  .total-score {
    font-size: 30px;
  }
}

.score-panel {
  font-size: 60px;
}
