<div class="container p-2">
  <ng-container *ngIf="gameService.gameState$ | async as gameState">
  <div class="row align-items-center" style="height: 250px">
    <div class="col-4 col-sm-4 d-flex flex-column justify-content-center">
      <app-player-card
        [playerAvatar]="'data:image/jpeg;base64,' + gameState.playerDTO.base64Image"
        [playerDisplayName]="gameState.playerDTO.displayName"
        maxHeight="150px"></app-player-card>
    </div>
    <div class="score-panel col-4 col-sm-4 align-content-center text-center">
      <ng-container *ngIf="playerInteractionService.relationshipState$ | async as relationshipStatus">
      <div [ngSwitch]="relationshipStatus">
        <div *ngSwitchCase="'NONE'" class="div">
          <div  (click)="sendFriendRequest()" class="btn btn-primary mt-2 me-3">Send friend request</div>
          <div  (click)="blockPlayer()" class="btn btn-danger mt-2">Block player</div>
        </div>
        <div *ngSwitchCase="'PENDING'" class="div">
          <div  (click)="cancelFriendRequest()" class="btn btn-success mt-2 me-3">Cancel pending request</div>
          <div  (click)="blockPlayer()" class="btn btn-danger mt-2">Block player</div>
        </div>
        <div *ngSwitchCase="'BLOCKED'" class="div">
          <div  (click)="unBlockPlayer()" class="btn btn-info mt-2">Unblock player</div>
        </div>
        <div *ngSwitchCase="'ACTIVE'" class="div">
          <div  (click)="removeFriend()" class="btn btn-warning mt-2 me-3">Remove friend</div>
          <div  (click)="blockPlayer()" class="btn btn-danger mt-2">Block player</div>
        </div>
        <div *ngSwitchCase="'INCOMING_REQUEST'" class="div">
          <div  (click)="acceptFriend()" class="btn btn-success mt-2 me-3">Accept friend request</div>
          <div  (click)="blockPlayer()" class="btn btn-danger mt-2">Block player</div>
        </div>
      </div>
      </ng-container>
        <p class="total-score">{{ gameState.playerDTO.score }}
        - {{ gameState.opponentDTO.score }}</p>
    </div>
    <div class="col-4 col-sm-4 d-flex flex-column justify-content-center">
      <app-player-card
        [playerAvatar]="'data:image/jpeg;base64,' + gameState.opponentDTO.base64Image"
        [playerDisplayName]="gameState.opponentDTO.displayName"
        maxHeight="150px"></app-player-card>

    </div>
  </div>
    <app-score-boxes
    [resetTrigger]="resetBoxesTrigger"></app-score-boxes>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <ng-container *ngIf="(gameOver$ | async) === false; else gameOverBlock">
      <div class="btn btn-danger btn-lg me-5" data-bs-toggle="modal" data-bs-target="#giveUpModal">
        Give up
      </div>
      <div *ngIf="gameState.playerTurn === this.storedPlayerId; else elseBlock"
           (click)="handlePlayButtonClick()"
           class="btn btn-success btn-lg">
        Play
      </div>
      <ng-template #elseBlock>
        <div class="btn btn-secondary" disabled="">
          Waiting for other player
        </div>
      </ng-template>
    </ng-container>
      <ng-template #gameOverBlock>
        <div class="btn btn-success btn-lg me-5" (click)="backToMultiplayerPage()">
          Back to menu
        </div>
        <div class="btn btn-success btn-lg" (click)="sendRematchRequest()">
          Play again
        </div>
      </ng-template>
    </div>
  </div>
  </ng-container>
</div>

<div class="modal fade" id="giveUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label">Give up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to give up?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="giveUpClick()" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
