<app-multiplayer-category
  [categories] = "categories"
  *ngIf="!selectedCategory && !hasQuestions"
  (categorySelected) = "onCategorySelected($event)"
  ></app-multiplayer-category>
<app-question-panel
  [questions]="questions"
  [isCorrect]="answerIsCorrect"
  [correctAnswerIndex]="correctAnswerIndex"
  *ngIf="selectedCategory || hasQuestions"
  (answerSelected)="onAnswerSelected($event)"
  (resetQuestionState)="resetQuestionState();"
  (timerRanOut)="onTimerRanOut($event)"
  (navigateBackToScoreScreen)="onNavigateBack()"
></app-question-panel>
