<div class="user-profile-section">
<!--  <input type="file" (change)="onFileSelected($event)" accept="image/*">-->
<!--  <img [src]="profileImageUrl || '/api/placeholder/150/150'" alt="Profile Picture">-->
  <h1>{{user.displayName}}</h1>
</div>

<div class="stats">
  <h2>Game Statistics</h2>
  <div class="match-stats">
    <h3>Match Statistics</h3>
    <p>Total Matches: {{user.numOfGames}}</p>
    <p>Wins: {{user.numOfWins}}</p>
    <p>Losses: {{user.numOfLosses}}</p>
<!--    <p>Win Rate: {{winRate}}%</p>-->
  </div>
</div>
