<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand" routerLink="" routerLinkActive="active">Quiz Battle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <!--        Public routes-->
        <ng-container *ngIf="!(loginStateService.isLoggedIn$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ng-container>

        <!--        Protected routes-->
        <ng-container *ngIf="loginStateService.isLoggedIn$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="loginStateService.isLoggedIn$ | async">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <ng-container *ngIf="notifications$ | async as notifications">
                <span *ngIf="notifications.length > 0"
                      class="notification-badge badge rounded-pill bg-danger">{{ notifications.length }}</span>
              </ng-container>
            </a>
            <ng-container *ngIf="notifications$ | async as notifications">
              <ul class="dropdown-menu">
                <div *ngFor="let notification of notifications">
                  <ng-container [ngSwitch]="notification.type">
                    <li *ngSwitchCase="'FRIEND_REQUEST'" class="drop-item info">
                      <i class="icon-info-sign">{{ notification.message }}</i>
                    </li>
                  </ng-container>
                  <div class="dropdown-divider"></div>
                </div>
              </ul>
            </ng-container>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</nav>
