<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand" routerLink="" routerLinkActive="active">Quiz Battle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <!--        Public routes-->
        <ng-container *ngIf="!(loginStateService.isLoggedIn$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ng-container>

        <!--        Protected routes-->
        <ng-container *ngIf="loginStateService.isLoggedIn$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="loginStateService.isLoggedIn$ | async">
        <app-whispers-dropdown></app-whispers-dropdown>
        <app-notification-dropdown></app-notification-dropdown>
        <app-player-dropdown></app-player-dropdown>
      </ng-container>
    </div>
  </div>
</nav>
