<div class="whispers-container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-2 h-100">
    <div class="col h-100">
      <app-whisper-window></app-whisper-window>
    </div>
    <div class="col h-100">
      <app-whisper-window></app-whisper-window>
    </div>
    <div class="col h-100">
      <app-whisper-window></app-whisper-window>
    </div>
    <div class="col h-100">
      <app-whisper-window></app-whisper-window>
    </div>
    <div class="col h-100">
      <app-whisper-window></app-whisper-window>
    </div>
  </div>
</div>
