<div class="whisper-window">
  <div class="title-bar">
    <div class="d-flex justify-content-between ">
      <div class="player-info justify-content-start d-flex align-items-center">
        <img [src]="'data:image/jpeg;base64,' + conversation.otherPlayer.base64Image"
             style="max-height: 40px; max-width: 40px"
             alt="player avatar" class="rounded-circle"/>
        <h6 class="ms-2">{{ conversation.otherPlayer.displayName }}</h6>
      </div>
      <div class="btn btn-light d-flex">
        <i class="fa-solid fa-x"></i>
      </div>
    </div>
  </div>
  <div class="message-area">
    <ng-container *ngFor="let message of conversation.messages">
      <div class="message-item text-break">
        <span>{{message.content}}</span>
      </div>
    </ng-container>
  </div>
  <div class="d-flex message-input-box">
    <input id="message-input" class="flex-grow-1" placeholder="Send message" [(ngModel)]="message">
    <button class="btn-success"
    (click)="sendMessage(conversation.id, conversation.otherPlayer.id, conversation.otherPlayer.userName)">Send</button>
  </div>
</div>
