<div class="container">
<h2>Login</h2>
<form role="form" (submit)="login()">
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputUsername" [(ngModel)]="credentials.username">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword"
    [(ngModel)]="credentials.password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
