<app-multiplayer-category
  [categories] = "categories$ | async"
  *ngIf="shouldShowCategories$ | async"
  (categorySelected) = "onCategorySelected($event)"
  ></app-multiplayer-category>
<app-question-panel
  [question]="currentQuestion$ | async"
  [isCorrect]="(answerState$ | async)?.isCorrect"
  [correctAnswerIndex]="(answerState$ | async)?.correctAnswerIndex"
  *ngIf="shouldShowQuestions$ | async"
  (answerSelected)="onAnswerSelected($event)"
  (timerRanOut)="onTimerRanOut($event)"
  (nextQuestion)="onNextQuestion()"
></app-question-panel>
