<div class="dropdown">
  <button class="btn btn-dark position-relative" id="notificationsDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
    <i class="fa-regular fa-bell"></i>
    <ng-container *ngIf="unreadNotifications$ | async as unreadNotifications">
      <span *ngIf="unreadNotifications.length > 0"
            class="notification-badge position-absolute badge rounded-pill bg-danger">
        {{ unreadNotifications.length }}
      </span>
    </ng-container>
  </button>

  <div class="dropdown-menu dropdown-menu-end notification-panel p-0">
    <div class="d-flex justify-content-between p-3 border-bottom">
      <div class="btn btn-light d-flex"
           data-bs-toggle="tooltip"
           title="Mark all as read">
        <i class="fa-regular fa-envelope-open"></i>
      </div>
      <h6 class="mb-0 ms-3">Notifications</h6>
      <div class="btn btn-light d-flex"
           data-bs-toggle="tooltip"
           title="Archived messages">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <ng-container *ngIf="unreadNotifications$ | async as unreadNotifications">
      <div class="notification-list">
        <div *ngFor="let notification of unreadNotifications">
          <div class="notification-item p-3 border-bottom unread position-relative"
               (click)="markAsRead(notification.id)">
            <ng-container [ngSwitch]="notification.type">
              <div *ngSwitchCase="'FRIEND_REQUEST'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-user-group icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-success me-1"
                            data-bs-toggle="tooltip"
                            title="Accept friends request"
                            (click)="acceptFriendRequest(notification.senderId, notification.id)">
                      <i class="fa-regular fa-circle-check"></i>
                    </button>
                    <button class="btn btn-sm btn-danger me-1"
                            data-bs-toggle="tooltip"
                            title="Decline friend request"
                            (click)="declineFriendRequest(notification.senderId, notification.id)">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'FRIEND_ACCEPTED'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-user-group icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'REMATCH_REQUEST'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-gamepad icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-success me-1"
                            data-bs-toggle="tooltip"
                            title="Accept rematch"
                            (click)="acceptRematch(notification.senderId, notification.pendingSessionId, notification.id)">
                      <i class="fa-regular fa-circle-check"></i>
                    </button>
                    <button class="btn btn-sm btn-danger me-1"
                            data-bs-toggle="tooltip"
                            title="Decline rematch"
                            (click)="declineRematchRequest(notification.senderId, notification.pendingSessionId, notification.id)">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'REMATCH_DECLINED'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-ban icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'GAME_WON'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-trophy icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-primary me-1"
                            data-bs-toggle="tooltip"
                            title="Go to score window"
                            (click)="goToGame(notification.id, notification.startedSessionId)">
                      <i class="fa-regular fa-question-circle"></i>
                    </button>
                    <button class="btn btn-sm me-1"
                            data-bs-toggle="tooltip"
                            title="Request rematch"
                            (click)="requestRematch(notification.id, notification.startedSessionId)"
                            style="color: #6f42c1; border: solid 1px #6f42c1;">
                      <i class="fa-solid fa-sync-alt"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'GAME_LOST'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-thumbs-down icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-primary me-1"
                            data-bs-toggle="tooltip"
                            title="Go to score window"
                            (click)="goToGame(notification.id, notification.startedSessionId)">
                      <i class="fa-regular fa-question-circle"></i>
                    </button>
                    <button class="btn btn-sm me-1"
                            data-bs-toggle="tooltip"
                            title="Request rematch"
                            (click)="requestRematch(notification.id, notification.startedSessionId)"
                            style="color: #6f42c1; border: solid 1px #6f42c1;">
                      <i class="fa-solid fa-sync-alt"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>

              <!-- GAME TIED -->
              <div *ngSwitchCase="'GAME_TIED'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-handshake icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-primary me-1"
                            data-bs-toggle="tooltip"
                            title="Go to score window"
                            (click)="goToGame(notification.id, notification.startedSessionId)">
                      <i class="fa-regular fa-question-circle"></i>
                    </button>
                    <button class="btn btn-sm me-1"
                            data-bs-toggle="tooltip"
                            title="Request rematch"
                            (click)="requestRematch(notification.id, notification.startedSessionId)"
                            style="color: #6f42c1; border: solid 1px #6f42c1;">
                      <i class="fa-solid fa-sync-alt"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="readNotifications$ | async as readNotifications">
      <div class="notification-list">
        <div *ngFor="let notification of readNotifications">
          <div class="notification-item p-3 border-bottom position-relative">
            <ng-container [ngSwitch]="notification.type">
              <div *ngSwitchCase="'FRIEND_REQUEST'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-user-group icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-success me-1"
                            data-bs-toggle="tooltip"
                            title="Accept friends request"
                            (click)="acceptFriendRequest(notification.senderId, notification.id)">
                      <i class="fa-regular fa-circle-check"></i>
                    </button>
                    <button class="btn btn-sm btn-danger me-1"
                            data-bs-toggle="tooltip"
                            title="Decline friend request"
                            (click)="declineFriendRequest(notification.senderId, notification.id)">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'FRIEND_ACCEPTED'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-user-group icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'REMATCH_REQUEST'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-gamepad icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-success me-1"
                            data-bs-toggle="tooltip"
                            title="Accept rematch"
                            (click)="acceptRematch(notification.senderId, notification.pendingSessionId, notification.id)">
                      <i class="fa-regular fa-circle-check"></i>
                    </button>
                    <button class="btn btn-sm btn-danger me-1"
                            data-bs-toggle="tooltip"
                            title="Decline rematch"
                            (click)="declineRematchRequest(notification.senderId, notification.pendingSessionId, notification.id)">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'REMATCH_DECLINED'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-ban icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'GAME_WON'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-trophy icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-primary me-1"
                            data-bs-toggle="tooltip"
                            title="Go to score window"
                            (click)="goToGame(notification.id, notification.startedSessionId)">
                      <i class="fa-regular fa-question-circle"></i>
                    </button>
                    <button class="btn btn-sm me-1"
                            data-bs-toggle="tooltip"
                            title="Request rematch"
                            (click)="requestRematch(notification.id, notification.startedSessionId)"
                            style="color: #6f42c1; border: solid 1px #6f42c1;">
                      <i class="fa-solid fa-sync-alt"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'GAME_LOST'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-thumbs-down icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-primary me-1"
                            data-bs-toggle="tooltip"
                            title="Go to score window"
                            (click)="goToGame(notification.id, notification.startedSessionId)">
                      <i class="fa-regular fa-question-circle"></i>
                    </button>
                    <button class="btn btn-sm me-1"
                            data-bs-toggle="tooltip"
                            title="Request rematch"
                            (click)="requestRematch(notification.id, notification.startedSessionId)"
                            style="color: #6f42c1; border: solid 1px #6f42c1;">
                      <i class="fa-solid fa-sync-alt"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link text-muted position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'GAME_TIED'" class="d-flex align-items-start p-2">
                <div class="notification-icon">
                  <i class="fa-solid fa-handshake icon"></i>
                </div>
                <div class="d-flex flex-grow-1 justify-content-between align-items-start">
                  <small class="text-muted">{{ notification.message }}</small>
                  <div class="notification-actions">
                    <button class="btn btn-sm btn-primary me-1"
                            data-bs-toggle="tooltip"
                            title="Go to score window"
                            (click)="goToGame(notification.id, notification.startedSessionId)">
                      <i class="fa-regular fa-question-circle"></i>
                    </button>
                    <button class="btn btn-sm me-1"
                            data-bs-toggle="tooltip"
                            title="Request rematch"
                            (click)="requestRematch(notification.id, notification.startedSessionId)"
                            style="color: #6f42c1; border: solid 1px #6f42c1;">
                      <i class="fa-solid fa-sync-alt"></i>
                    </button>
                    <button class="archive-btn btn btn-sm btn-link position-absolute top-0 end-0"
                            data-bs-toggle="tooltip"
                            title="Archive"
                            (click)="archiveNotification(notification.id)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="modal fade" id="goToGameModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rematch accepted</h5>
        <button type="button" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to go to the accepted game? You can find it in the list of active games or directly go there
          now</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="stay-button">Stay</button>
        <button type="button" class="btn btn-primary" id="go-to-game-button">Go to game</button>
      </div>
    </div>
  </div>
</div>



