<div class="settings-container p-5">
    <h2 class="settings-title">Settings</h2>
    <div class="setting-item">
        <span>Password</span>
        <p>••••••••</p>
        <button class="btn-secondary" (click)="isVisible = true">Change Password</button>
    </div>
</div>

<div class="modal-overlay p-5 w-100 w-md-75 w-lg-50" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Change Password</h3>
        </div>

        <form [formGroup]="passwordForm" (ngSubmit)="submit()">

            <div class="form-group">
                <label>Current Password</label>
                <input
                        type="password"
                        id="currentPassword"
                        formControlName="currentPassword"
                        class="form-control">
                <div class="alert alert-danger" *ngIf="submitted && currentPassword.invalid">
                    <div *ngIf="currentPassword.errors?.['required']">Please enter your current password</div>
                </div>
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input
                        type="password"
                        id="newPassword"
                        formControlName="newPassword"
                        class="form-control">
                <div class="alert alert-danger" *ngIf="submitted && newPassword.invalid">
                  <div *ngIf="newPassword.errors?.['required']">New Password is required.</div>
                  <div *ngIf="newPassword.errors?.['minlength']">Password must be at least 8 characters long.</div>
                  <div *ngIf="newPassword.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, and one number.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input
                        type="password"
                        id="confirmPassword"
                        formControlName="confirmPassword"
                        class="form-control">
                <div class="alert alert-danger" *ngIf="submitted && confirmPassword.invalid">
                    <div *ngIf="confirmPassword.errors?.['required']">Confirm Password is required.</div>
                </div>
                <div class="alert alert-danger" *ngIf="submitted && confirmPassword.valid && passwordForm.invalid && passwordForm.errors?.['passwordMismatch']">
                    Passwords do not match.
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">
                    Change Password
                </button>
                <button type="button" class="btn-secondary" (click)="isVisible = false">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

