<div class="container">
  <div class="question-box">
    <h2>{{questions[currentQuestionIndex].question}}</h2>
  </div>
  <div class="answer-boxes">
    <div class="answer-box">{{questions[currentQuestionIndex].options[0]}}</div>
    <div class="answer-box">{{questions[currentQuestionIndex].options[1]}}</div>
    <div class="answer-box">{{questions[currentQuestionIndex].options[2]}}</div>
    <div class="answer-box">{{questions[currentQuestionIndex].options[3]}}</div>
  </div>
  <button type="button" (click)="goToNextQuestion()">Next!</button>
</div>
