<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <div class="question-box p-3 bg-light rounded">
        <h2>{{ questions[currentQuestionIndex].question }}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-6 p-2">
      <div class="border text-center rounded">
        {{ questions[currentQuestionIndex].options[0]}}
      </div>
    </div>
    <div class="col-6 col-md-6 p-2">
      <div class="border text-center rounded">
        {{ questions[currentQuestionIndex].options[1]}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-6 p-2">
      <div class="border text-center rounded">
        {{ questions[currentQuestionIndex].options[2]}}
      </div>
    </div>
    <div class="col-6 col-md-6 p-2">
      <div class="border text-center rounded">
        {{ questions[currentQuestionIndex].options[3]}}
      </div>
    </div>
  </div>
</div>
