<div class="container p-2">
  <div class="row mb-4">
    <div class="col-8 col-sm-3">
      <app-player-card
        [playerDisplayName]="gameState.playerDTOS[(opponentIndex + 1) % 2].displayName"></app-player-card>
    </div>
    <div class="score-panel col-sm-4 offset-sm-1 align-content-center text-center">
      <p>{{ playerTotalScore }}
        - {{ opponentTotalScore }}</p>
    </div>
    <div class="col-8 offset-4 col-sm-3 offset-sm-1">
      <app-player-card
        [playerDisplayName]="opponentDisplayName"></app-player-card>
      <div (click)="sendFriendRequest(gameState.playerDTOS[opponentIndex].username)" class="btn btn-primary mt-2">Send
        friend request
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let row of boxes; let i = index">
    <div class="col-5">
      <div class="row">
        <div class="col-4 mb-3" *ngFor="let box of row.left">
          <div class="square" [style.background-color]="box.color"></div>
        </div>
      </div>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center">
      <h5>{{gameState.roundCategories[i]}}</h5>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-4 mb-3" *ngFor="let box of row.right">
          <div class="square" [style.background-color]="box.color"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <div *ngIf="!isGameOver; else gameOverBlock">
        <div *ngIf="gameState.playerTurn === storedPlayerId; else elseBlock"
             (click)="handleButtonClick()"
             class="btn btn-success btn-lg">
          Play
        </div>
        <ng-template #elseBlock>
          <div class="btn btn-secondary" disabled="">
            Waiting for other player
          </div>
        </ng-template>
      </div>
      <ng-template #gameOverBlock>
        <div class="btn btn-success btn-lg me-5" (click)="backToMultiplayerPage()">
          Back to menu
        </div>
        <div class="btn btn-success btn-lg">
          Play again
        </div>
      </ng-template>
    </div>
  </div>
</div>
